.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:aliceblue;
}
.logo{
    width: 30%;
}
.items{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
.items .item{
    display: flex;
    color:blue;
}
.button{
    display: flow-root;
    align-items: center;
    width: 100%;
    /* justify-content: space-around; */
}
